/* .App {
  text-align: center;
} */

.headerText {
  font-family: Poppins;
  font-weight: 500;
  color:purple
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
