.grid-main{
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
}

.item-grid{
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: repeat(3, 1fr);
}

.item-grid-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
}